$green: #48f542;
$yellow: #deeb34;
$red: #f2391d;


@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron {
	background-color: $green;
	color: $yellow;
	@include margenes(56px, 10px);

}

footer {
	flex: 1 150px;
    background-color: $green;
    @include margenes(10px, 0px);

}

.card-hotel {
	padding: 5px 5px 5px 5px;
	flex: 1 150px;
	@include margenes(8px, 0px);
	color: $red;

}

.btn-reserva {
	width: 100%;
	@include margenes(5px, 0px);
	
}

.footer-address-icon {
	padding: 10px;
}

.tab-content {
	@include margenes(10px, 0px);
}

.card-header {
	
}

.carousel-item {
	@include margenes(10px, 0px);

}