@green: #48f542;
@yellow: #e0f542;
@red: #c70000;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}


.jumbotron {
  background-color: @green;
  color: @yellow;
  .margenes(50px, 0px); 

}

footer {
  flex: 1 150px;
  background-color: @green;
  .margenes(10px, 0px); 

}

.card-hotel {
  padding: 5px 5px 5px 5px;
  flex: 1 150px;
  color: @red;
  .margenes(8px, 0px); 

}

.btn-reserva {
  width: 100%;
  .margenes(5px, 0px); 

}

.footer-address-icon {
  padding: 10px; 

}

.tab-content {
  .margenes(10px, 0px); 

}

.carousel-item {
  .margenes(10px, 0px); 

}
