.jumbotron {
  background-color: #48f542;
  color: #e0f542;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  flex: 1 150px;
  background-color: #48f542;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  padding: 5px 5px 5px 5px;
  flex: 1 150px;
  color: #c70000;
  margin-top: 8px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding: 10px;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
}
.carousel-item {
  margin-top: 10px;
  margin-bottom: 0px;
}
